.time-bar {
    -fx-background-color: #C0392B;
    -fx-background-radius: 10;
    -fx-padding: 6 12 6 12;
    -fx-alignment: CENTER_LEFT;
}

.time-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* Label tiêu đề (Giá khởi điểm, Giá hiện tại) */
.label-title {
    -fx-text-fill: #95A5A6;
    -fx-font-size: 10px;
}

/* Label giá trị (15.000 VNĐ,...) */
.label-value {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Nút tham gia đg */
.btn-block {
    -fx-background-color: #1C3A47;
    -fx-text-fill: #3498DB;
    -fx-border-color: #3498DB;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.product-card {
    -fx-background-color: #142932;
    -fx-background-radius: 15;
}