.primary-button {
    -fx-background-color: #1c7c7c; /* Màu xanh giống màu text của bạn */
    -fx-background-radius: 1000;      /* Bo góc */
    -fx-text-fill: white;          /* Chữ màu trắng */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;      /* Tạo khoảng trống bên trong nút */
    -fx-cursor: hand;              /* Hiện bàn tay khi trỏ vào */
}

.primary-button:hover {
    -fx-background-color: #145f5f; /* Đậm hơn một chút khi di chuột vào */
}
